* {
    box-sizing: border-box;
}

body {
  margin: auto;
  width: 500px;
}

div {

}

li {
  height: 20px;
}

li:nth-of-type(n) {
  color: black;
  background-color: #e3f2fd;
  opacity: 0.9;
}

li:nth-of-type(2n) {
  color: black;
  background-color: #fdbcd9;
  opacity: 0.9;
}
